<!DOCTYPE html>
<html>
<head>
  <title>ProfileProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name= "viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/cf4096fc5c.js"></script>
</head>
<body>
  <nav class="navbar navbar">
    <div class="container">
      <div class="navbar-header">
        <a href="https://twitter.com/takezomarks" target="_blank" >
            <i class="fa fa-twitter-square fa-2x navbar-brand" id="icons"></i>
          </a>
        <a href="http://dejatrue.tumblr.com/" target="_blank" >
            <i class="fa fa-tumblr-square fa-2x navbar-brand" id="icons"></i>
          </a>
        <a href="https://www.linkedin.com/in/tkmarks" target="_blank">
            <i class="fa fa-linkedin-square fa-2x navbar-brand" id="icons"></i>
          </a>
        <a <%= link_to root_path, class:"navbar-brand" do %>
           T.K. Marks
           <% end %>
        </a>
        <button id="navbar-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navcol-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation">
            <%= link_to 'About Me', about_path, class: 'presentation' %>
          </li>
          <li role="presentation">
            <%= link_to 'Projects & Skills', project_path, class: 'presentation' %>
          </li>
          <li role="presentation">
            <li><%= link_to "Let's Talk", new_contact_path, class:'presentation' %></li>
          </li>
          <li class="active" role="presentation">
            <%= link_to 'Home', root_path, class: 'presentation' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
<%= yield %>
</div>
</body>
</html>
